.black_bg {
	/*background-color: #262626;*/
}

.round_button {
	border: 1px solid lightgrey;
	background-color: transparent;
	border-radius: 100%;
}

levelbar block.low {
	color: red;
	background-color: red;
	border-style: solid;
	border-color: red;
	border-width: 2px;
}

levelbar block.medium {
	color: yellow;
	border-style: solid;
	border-color: yellow;
	border-width: 2px;
}

